body{
    margin:0;
    padding:0;
    background-color:#101010;
    color:#FFFFFF;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.card p{
margin:0;
}

.card a{
margin-top:15px;
}

nav div a:hover{
    color:#A9A9A9;
}

.logo{
    color:#FFFFFF;
    font-size: 24px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1300px;
    margin:0 auto;
    margin-bottom: 80px;
    padding: 16px 24px;

    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #101010;
}
nav div img{
    width:24px;
    height: 26px;
}

.left{
    display: flex;
    justify-content: baseline;
}
.left a{
    font-weight:700;
}
.middle{
    display: flex;
    gap:32px;
    font-weight:500px;
    font-size:16px;
}
.row p{
    margin-top:75px;
}
.hero{
    display: flex;
    width: 1300px;
    height:900px;
    font-size:26px;
    margin-top:600px;
    margin:0 auto;
    flex-direction: column;
}

.btn {
    background-color:#FFFFFF;
    color:#060606;
    border-radius: 21px;
    padding:8px;
}

.btn1{
    background-color:#060606;
    color:#FFFFFF;
    border-radius: 21px;
    padding:8px;
    border:1px #333333 solid;
}
.btn2{
    background-color:#FFFFFF;
    color:#060606;
    padding:14px;
    border-radius: 24px;
    width:200px;
}
section img{
    margin-top:60px;
}
section button{
    align-self: flex-start;
}

.row{
    display: flex;
    margin:0 auto;
    width: 1300px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-weight:100;
    font-size:15px;
    margin-bottom: 100px;;
}
.image-row{
    display:flex;
    margin:0 auto;
    width:1300px;
    height:95px;
    gap:10px;
}
section div img{
    background-color: #161616;
    padding:40px 30px;
    margin-top:0px;
    width:110px;
    height:22px;
    border-radius:7px;
}

.cards{
    display: flex;
    flex-direction: column;
    width:1300px;
    margin-top:50px;
    margin:0 auto;
    padding: 16px 24px;
    gap:80px;
}
.card{
    display: flex;
    background-color: #161616;
    width: 1300px;
    height:780px;
    margin:0 auto;
    border-radius:5px;
}

.inner-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:600px;
    height:300px;
    font-size:20px;
    margin-top:250px;
    margin-left:21px;
}

.card img{
    width:850px;
    height:750px;
    margin-top:15px;
    border-radius:8px;
    margin-right:15px;
}

.card a{
    color:#FF4500;
    font-size:16px;
    text-decoration: none;
}

.card p{
    font-size:22px;
    font-weight:300;
}

.test-inside{
    display:flex;
    width:400px;
    height:80px;
}

.test-card{
    display:flex;
    flex-direction: column;
    width:380px;
    height:300px;
    background-color:#161616;
    border-radius:5px;
    color:#e6e6e6;
    padding:18px;
    justify-content: space-between;
    line-height: 1.4;
}

.test-card p{
    font-size: 17px;
}
.test-inside img{
    margin-top: 17px;
    margin-right:15px;
    border-radius:3px;
    width:50px;
    height:50px;
}
.testimonials{
    display: grid;
    width:1300px;
    margin: 0 auto;
    grid-template-columns: 433px 433px 433px ;
    grid-template-rows: 350px 350px;
}
.main{
    margin-top:100px;
    font-size:36px;
    text-align: center;
    margin-bottom:45px;
}
.main-hcard{
display:flex;
width:1300px;
margin: 0 auto;
}
.horizontal-card{
    display:flex;
    flex-direction: column;
    margin:4px;
    padding:15px;
    width:380px;
    background-color: #161616;
    height:495px;
    border-radius:7px;
}
.horizontal-card img{
    width:365px;
    height:365px;
    border-radius:7px;
    margin-top:27px;
}
.horizontal-card p{
    margin:0;
    margin-bottom:7px;
}
.horizontal-card a{
    color:#FF4500;
    font-size:16px;
    text-decoration: none;
}
.features{
    width:1300px;
    margin: 0 auto;
    margin-top:140px;
}
.special-heading{
    margin:10px;
    margin-bottom:20px;
    font-size:26px;
}
.update-card-box{
    display: flex;
    gap:15px;
}

.update-card{
    display: flex;
    width:400px;
    height: 90px;
    flex-direction: column;
    gap:15px;
    border-radius:7px;
    padding:15px;
    margin-top:20px;
    margin-bottom:15px;
    background-color: #161616;
    border-radius:6px;
}

.update-card:hover{
    background-color: #1C1C1C;
}

.changelog{
    width:1300px;
    margin: 0 auto;
    margin-top:150px;
    padding:20px;
}

.changelog a{
    color:#FF4500;
    font-size:17px;
    font-weight:200;
    text-decoration: none;
}

.changelog h2{
    font-size:26px;
    font-weight:400;
    margin:0;
    padding:0;

}
.version-flexbox{
    display:flex;
    justify-content: baseline;
    width:160px;
    height:30px;
    gap:13px;
    font-weight:100;
    align-items: center;
}

.update-card-box p{
    border:2px #808080 solid;
    width:35px;
    height:20px;
    border-radius:15px;
    text-align:center;
}

.join-us{
    display: flex;
    flex-direction: column;
    width:1300px;
    margin: 0 auto;
    margin-top:80px;
    padding:20px;
}

.join-us h2{
    font-size:32px;
    font-weight:400;
}

.join-us button{
    background-color:#FFFFFF;
    color:#060606;
    padding:9px;
    border-radius: 24px;
    font-size:16px;
    font-weight:100;
    width:120px;
    margin-bottom:50px;
}
.main-cta{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:135px;
}
.main-cta h1{
    font-size:62px;
    font-weight:400;
    margin-bottom:15px;
    margin-top:100px;
}

footer{
    background-color: #1C1C1C;
    height:380px;
}
footer span{
    margin-left:85px;
    margin-bottom:100px;
}
.footer-group{
    display: flex;
    justify-content: space-around;
    width:1300px;
    margin: 0 auto;
}

.info-links{
    display: flex;
    flex-direction: column;
    margin-top:100px;
    margin: 0 auto;
    gap:10px;
    font-size:14px;
    height:300px;
    width:300px;
    margin-top:40px;
}